{% extends "base.html" %}

{% block site_meta %}
{{ super() }}
<meta property="description" content="Makes typed arguments Optional when the default argument is None." />
<!-- Twitter card data -->
<meta name="twitter:card" content="summary"/>
<meta property="twitter:title" content="auto-optional" />
<meta property="twitter:description" content="Makes typed arguments Optional when the default argument is None." />
<meta name="twitter:creator" content="@DaanLuttik" />
<meta name="twitter:image" content="https://auto-optional.daanluttik.nl/assets/images/social-square.png"/>

<!-- Open Graph data -->
<meta property="og:title" content="auto-optional" />
<meta property="og:description" content="Makes typed arguments Optional when the default argument is None." />
<meta property="og:site_name" content="auto-optional.daanluttik.nl" />
<meta property="og:image" content="https://auto-optional.daanluttik.nl/assets/images/og-image.png" />
{% endblock %}